.current-section .item-section {
	position: relative;
}

.sizes {
	position: absolute;
	display: flex;
	bottom: -19px;
	left: 0px;
}
.sizes .small,
.sizes .medium,
.sizes .large,
.sizes .small-picked,
.sizes .medium-picked,
.sizes .large-picked {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 20px;
	box-shadow: 0 8px 6px -6px black;
}
.sizes div span {
	font-weight: bolder;
	font-size: 1rem;
}

.sizes .small,
.sizes .medium,
.sizes .large {
	background: #ffff;
	color: #000;
}
.sizes .small-picked,
.sizes .medium-picked,
.sizes .large-picked {
	background: #000;
	color: #ffff;
}

.product-description {
	margin-top: 2.5rem;
}

.spec {
	margin: 20px 0;
	background: lightgrey;
	padding: 5px;
	width: 11%;
}

.product-details-icons {
	margin-bottom: 20px;
	display: flex;
}
.product-details-icons span {
	padding-right: 15px;
	font-size: 1.5rem;
}

.display-none {
	display: none;
}

.select-size {
	position: absolute;
	right: -70px;
	bottom: -270px;
	background: #000;
	width: 400px;
	height: 400px;
	color: #ffff;
	border-radius: 50%;
}
.select-size-container {
	position: relative;
	width: 200px;
	margin-left: 5rem;
	margin-top: 4rem;
}

.select-size-div {
	display: flex;
	margin: 1rem 0;
}
.select-size-div div {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: #ffff;
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 20px 1rem 0;
	cursor: pointer;
}
.select-size-container span {
	border-bottom: 1px solid #ffff;
	padding-bottom: 5px;
}
